/* html, body {
    width: auto!important;
     overflow-x: hidden!important
}  */

html{
    scroll-behavior: smooth;
    /* width: 100%; */
}
html::-webkit-scrollbar{
    display: none;
}
#main-nav{
    background-color: transparent;
}
#navbarSupportedContent{
    cursor: pointer;
}
.nav-link:hover{
    color:#e99133 !important;

}

.nav-link.active {
    color: #54b3d6 !important;
}

/* nav bar scroll support test */
.navbar{
    padding-top: 15px !important;
    padding-right: 10% !important;
    padding-left: 10% !important;
    transition: color 0.3s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

/* .navbar.navlink.active {
    color: aqua !important;
} */
  
.scrolled{
  background-color: rgba(23, 23, 23, 0.665) !important;  /*Set your desired background color */
  transition: background-color 0.5s ease-in-out;

}
  
/* section{
    height: 100vh;
} */
body{
    background-color: rgb(23, 23, 23) !important;
    /* overflow-x: hidden; */
   
}
#header{
    background-image: url(images/codingbackground.png);
    color: rgb(238, 238, 238);
}
#home{
    /* background-image: url(images/codingbackground.png) !important; 
    background-color: rgb(23, 23, 23); */
    background-repeat: no-repeat;
    background-size: cover;
}

#element {
    display: inline-block;
}

/* Background test */
#binary-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
    opacity: 0.195;
}

.binary-digit {
    position: absolute;
    color: white;
    font-size: 13px;
    animation: animate 2s linear infinite;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
@keyframes animate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* 
 * TESTING SPAN 
 * USING FOR NAV TOO
 */

.custom-col a {
    overflow: hidden;
    position: relative;
    display: inline-block;
}
  
.custom-col a::before,
  a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
 }
 .custom-col a::before {
    background-color: #54b3d6;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  .custom-col a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #e99133;
  }
  
  .custom-col a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  .custom-col a:hover::after {
    transform: translate3d(0, 0, 0);
  }
  
  .custom-col a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .custom-col a:hover span {
    transform: translate3d(-200%, 0, 0);
  }
  
  /* Presentational Styles */
  
  .custom-col a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    vertical-align: top;
  }

/* ------------NEED TO SEE THIS CODE---------- */

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 3px 15px;
}
nav ul li a{
    color: rgb(238, 238, 238)!important;
    text-decoration: none;
    font-size: 18px !important;
}

/* nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: #2565fa;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
} 
nav ul li span:hover::after{
    width: 100%;
}
*/

/* ---------------------- */
.custom-col{
    padding-top: 20%;
}
.side-image {
    border-radius: 15%;
    position: absolute;
    top: 29%; /* Adjust the top position as needed */
    left: 63%; /* Adjust the left position as needed */
    width: 20%; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed or remove to maintain aspect ratio */
    border: 4px solid rgb(210, 164, 105);
}

i{
    color: white;
}


/* About section TESTING */


#about{
    padding: 80px;
    color: #fff;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 85%;
    border-radius: 15px;
    border: 2px solid rgb(210, 164, 105);
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 50px;
    font-weight: 600;
    color:#fff;
}
.about-col-2 p{
    padding-top: 5%;
    font-size: 20px;
    color: rgb(152, 149, 149);
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #2565fa;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:#558eff;
    font-size: 14px;
}
.tab-contents-role{
    color: #e99133 !important;
    font-weight: 700;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.tab-contents.active-tab ul{
    padding-inline-start: 0px;
}

.progress{
    height: 5px !important; 
    width: 90%;
}

/* _________Portfoltio_________ */

#portfolio{
    padding: 30px;
    color: #e3e3e3;
    height: 500px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.center {
    margin: auto;
    width: 40%;
    /* border: 3px solid #73AD21; */
    padding: 10px;
}
/*_____________Contact Section__________________*/

#contact{
    padding-top: 10%;
    padding-bottom: 3%;
}

.social-icons{
    margin-top: 15px;
}
.social-icons a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
}
.social-icons a:hover{
    opacity: 60%;
}
#msg{
    color: #569e49;
    color: #be2c27;
    display: block;
    margin-top: 10px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 400;
    margin-top: 20px;
    color:rgb(238, 238, 238);
}

@media only screen and (max-width: 700px){
    /* .side-image2 {
        border-radius: 15%;
        position: absolute;
        text-align: center; 
        vertical-align: middle;
        width: 160px;
        height: auto; 
        border: 4px solid rgb(210, 164, 105);
    } */
    .side-image{
        position:absolute;
        top: 250px;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
        width: 65%; 
        height: auto;
    }
    #home-header{
        padding-top: 40px;
        text-align: center;
    }
    #header-aboutbtn{
        padding-top: 15px;
    }
    #portfolio-span{
        text-align: center;
    }
    #portfolio{
        text-align: center;
    }
    #home-part{
        margin-left: 0% !important;
    }
    #contact{
        padding-top: 140%;
    }
    #contact-info{
        text-align: center !important;
    }

    .social-icons{
        padding-bottom: 5%;
    }
    .sub-title{
        text-align: center;
        font-size: 30px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        text-align: center;
        margin-bottom: 30px;
    }
    .about-col-2{
        text-align: center;
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .copyright{
        font-size: 14px;
    }
    #contact{
        text-align: center;
    }
}
